/** @format */

.navbar {
	background-color: rgba(207, 233, 254, 0.17);
	border-radius: 20px;
	width: 70vw;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
