/** @format */

.title {
	text-align: center;
	color: #ffb77c;
	font-size: 40px;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
}

.contentcontainer {
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 22px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}
